<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LILKEKSY'S CHATBOT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
    <nav class="glass-nav">
        <h1>Test 1</h1>
    </nav>
    <h1 class="greeting-screen">Hello There</h1>
    <main>
        <form action="/submit" method="POST">
            <input type="text" name="message" placeholder="Type Text here">
            <input type="submit" value="OK">
        </form>
    </main>
</body>


</html>