<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LILKEKSY'S CHATBOT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
    <nav class="glass-nav">
        <h1>---</h1>
    </nav>
    <div class="greeting-screen">
      <h1>Ugh... It's you</h1>
      <p>Quote of the day: <br>
        <% if (data) { %>
          "<%= data.quote %>" — <%= data.author %>
        <% } else { %>
          "No quote today. Reality said no."
        <% } %>
      </p>
    </div>
    
    <main>
        <div id="chat-box" placheolder="response will be logged here"></div>
      
        <form id="chat-form">
          <textarea id="user-input" name="message" rows="1" placeholder="Type Text here"></textarea>
          <input type="submit" value="OK" />
        </form>
      </main>

      
      <script src="https://cdn.jsdelivr.net/npm/dompurify@3.2.6/dist/purify.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/15.0.12/marked.min.js" integrity="sha512-rCQgmUulW6f6QegOvTntKKb5IAoxTpGVCdWqYjkXEpzAns6XUFs8NKVqWe+KQpctp/EoRSFSuykVputqknLYMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="/js/main.js"></script>

</body>

</html>